[submodule "dependencies/xamsmath"]
	path = dependencies/xamsmath
	url = https://github.com/Desiment/latex-xamsmath
[submodule "dependencies/tssuite"]
	path = dependencies/tssuite
	url = https://github.com/Desiment/latex-tssuite
[submodule "dependencies/flsuite"]
	path = dependencies/flsuite
	url = https://github.com/Desiment/latex-flsuite
[submodule "dependencies/refsuite"]
	path = dependencies/refsuite
	url = https://github.com/Desiment/latex-refsuite
[submodule "dependencies/luaboolean"]
	path = dependencies/luaboolean
	url = https://github.com/Desiment/latex-luaboolean
[submodule "dependencies/luatableprint"]
	path = dependencies/luatableprint
	url = https://github.com/Desiment/latex-luatableprint
